{% extends "layout.html" %}

{% block title %}Arrakis Notes - Search{% endblock %}

{% block content %}

<div class="flex overflow-hidden h-screen w-full pl-16">
    <div id="noteGrid" class="bg-dark h-full w-full p-8 flex flex-row">

        <div class="flex-1 flex flex-col rounded-lg border-4 border-moon p-1">
            <div class="flex-grow">
                <div id="writer-monaco" name="user_code_input" style="width: 100%; height: 100%"></div>
            </div>
            <div class="flex flex-row">
                <form class="flex-1" hx-post="/relay/postNotebookCell" hx-target="#didSend" hx-swap="innerHTML">
                    <input class="hidden" name="relay" value="wss://relay.arrakis.lat" />
                    <input class="hidden private_key" name="private_key" />
                    <textarea class="hidden" id="markdown_input" name="markdown"></textarea>
                    <button class="w-full h-full bg-confirm hover:bg-light hover:text-dark border border-4 border-moon">
                        Post
                    </button>
                </form>
                <button onclick={clearMonacoEditor()}
                    class="flex-1 p-2 bg-error hover:bg-light hover:text-dark border border-4 border-moon"
                    type="button">
                    Clear
                </button>
            </div>
        </div>
        <div class="overflow-scroll flex-5 p-4 flex flex-col gap-4">
            <form class="w-full bg-spice border-4 border-moon rounded-lg shadow-lg p-4" hx-get="/relay/notebookCells"
                hx-target="#cellList" hx-swap="outerHTML" hx-trigger="click">
                <input class="hidden" name="relay" value="wss://relay.arrakis.lat" />
                <input class="hidden public_key" name="notebook_pubkey" />
                <button>Find Cells</button>
            </form>

            <div id="cellList" class="transition-all"></div>

            <div class="w-full flex flex-col bg-spice border-4 border-moon rounded-lg shadow-lg p-4">
                <form hx-post="/relay/notebookIndex" hx-target="#didSend" hx-swap="innerHTML" hx-ext='json-enc'
                    id="indexCellList">
                    <input class="hidden" name="relay" value="wss://relay.arrakis.lat" />
                    <input class="hidden" id="eventIdsInput" name="index" />
                    <input class="hidden private_key" name="private_key" />
                    <button>Post Index</button>
                </form>
            </div>
        </div>
        <div id="cellDetail" class="overflow-scroll flex-1 bg-light border-4 border-moon rounded-lg shadow-lg p-2">
        </div>
    </div>
</div>
<div id="didSend"></div>
<script>
    var editor = monaco.editor.create(
        document.getElementById("writer-monaco"),
        {
            value: [
                "# This is a heading",
                "## This is a sub-heading",
                "",
                "Regular text is just written and can be **bold** or *italic*.",
                "",
                "You can create lists:",
                "- Item 1",
                "- Item 2",
                "  - Sub-item 1",
                "  - Sub-item 2",
                "",
                "Here's a link: [Google](https://www.google.com)",
                "",
                "Code can be `inline` or as a block:",
                "",
                "```javascript",
                'console.log("This is a code block");',
                "```",
                "",
                "> This is a blockquote.",
                "",
                "---",
                "",
                "That's a horizontal rule above!",
            ].join("\n"),

            language: "markdown",
            theme: "vs-dark",
            minimap: {
                enabled: false,
            },
            lineNumbersMinChars: 1,
        },
    );

    function clearMonacoEditor() {
        editor.setValue("");
    }

    function updateTextareaContent() {
        const textarea = document.getElementById("markdown_input");
        textarea.value = editor.getValue();
    }

    function getKeysFromDOM() {
        // Assuming privateKey and publicKey are defined and hold the values you want to set.
        var privateKeys = document.querySelectorAll(".private_key");
        var publicKeys = document.querySelectorAll(".public_key");

        privateKeys.forEach(function (element) {
            element.value = privateKey; // This will set the value for each element with class 'private_key'
        });

        publicKeys.forEach(function (element) {
            element.value = publicKey; // This will set the value for each element with class 'public_key'
        });
    }

    // Call it once initially to ensure the textarea has the initial content
    // Attach the function to Monaco Editor's change event
    editor.onDidChangeModelContent(updateTextareaContent);
    updateTextareaContent();
    getKeysFromDOM();
</script>
{% endblock %}
```
